@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-tennis-dark: #0f172a;
  --color-tennis-card: #1e293b;
  --color-tennis-green: #84cc16;
  --color-tennis-blue: #0ea5e9;
}

body {
  background-color: var(--color-tennis-dark);
  color: #e2e8f0;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #475569;
  }
}