@import "tailwindcss";

@theme {
  --color-tennis-dark: #0f172a;
  --color-tennis-card: #1e293b;
  --color-tennis-green: #84cc16;
  --color-tennis-blue: #0ea5e9;
}

body {
  background-color: var(--color-tennis-dark);
  color: #e2e8f0;
}